{% extends 'generators/base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="p-4 bg-light rounded-3 h-100 d-flex flex-column align-items-start">
        <h2>Зсувний регістр зі зворотнім зв'язком</h2>
        <p>Зсувний регістр зі зворотнім зв'язком (LFSR) - це регістр, де значення одних або кількох бітів регістра використовуються для обчислення наступного значення регістра. Це дозволяє генерувати послідовності, що мають властивості випадковості, але вони детерміновані, тобто залежать від початкового стану регістра і функції зворотного зв'язку.</p>
      </div>
    </div>
    <div class="col">
      <div class="p-4 bg-light rounded-3 h-100 d-flex flex-column align-items-start">
        <h2>Матричний зсувний регістр</h2>
        <p>Матричний зсувний регістр - це варіант зсувного регістра, де зсуви виконуються над вмістом регістра відповідно до заданої матриці. Це може бути використано для шифрування, генерації послідовностей і багатьох інших задач, де потрібна перестановка бітів.</p>
      </div>
    </div>
    <div class="col">
      <div class="p-4 bg-light rounded-3 h-100 d-flex flex-column align-items-start">
        <h2>Псевдовипадкова послідовність</h2>
        <p>Псевдовипадкова послідовність - це послідовність чисел, яка виглядає як випадкова послідовність, але фактично генерується детермінованим процесом. Такі послідовності широко використовуються в криптографії, моделюванні, тестуванні програм тощо.</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
