{% extends 'generators/base.html' %} {% load static %} {% block content %}
    <div class="container mt-5">
        <!-- Селектор першого поліному -->
        <div class="row">
            <div class="col-md-6">
                <label for="numberSelectFirst" class="form-label"
                >Оберіть ступінь полінома A:</label>
                <select class="form-select" id="numberSelectFirst">
                    {% for degree in degrees %}
                        <option value="{{ degree }}">{{ degree }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label for="elementSelectFirst" class="form-label"
                >Оберіть поліном:</label>
                <select class="form-select" id="elementSelectFirst">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <!-- Селектор другого поліному -->
        <div class="row">
            <div class="col-md-6">
                <label for="numberSelectSecond" class="form-label"
                >Оберіть ступінь полінома B:</label>
                <select class="form-select" id="numberSelectSecond">
                    {% for degree in degrees %}
                        <option value="{{ degree }}">{{ degree }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label for="elementSelectSecond" class="form-label"
                >Оберіть поліном:</label>
                <select class="form-select" id="elementSelectSecond">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <!-- Селектори i, j, r -->
        <div class="row">
            <div class="col-md-4">
                <label for="iSelect" class="form-label"
                >i:</label>
                <select class="form-select" id="iSelect">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="jSelect" class="form-label"
                >j:</label>
                <select class="form-select" id="jSelect">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="rSelect" class="form-label"
                >r:</label>
                <select class="form-select" id="rSelect">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <!-- Кнопка для побудови матриці -->
        <div class="mt-4">
            <button
                    id="buildMatrixButton"
                    class="btn btn-primary container-button"
                    style="display: block; margin: 0 auto">
                Розрахувати
            </button>
        </div>

        <div id="errorModal">
            <div id="errorModalContent">
                <span id="closeButton" onclick="closeErrorModal()">&times;</span>
                <p id="errorText"></p>
            </div>
        </div>

        <!-- Контейнер початкової матриці -->
        <div class="container mt-4" style="display: none">
            <h4 id="toggleVisible1" style="" class="text-center mb-4">
                Поліном А
            </h4>
            <div
                    id="matrix-container-first"
                    class="output-container"
                    style="">
                <!-- Початкова матриця буде додана тут -->
            </div>
        </div>
        <!-- Контейнер початкової матриці А -->
        <div class="container mt-4" style="display: none">
            <h4 id="toggleVisible2" style="" class="text-center mb-4">
                Поліном В
            </h4>
            <div
                    id="matrix-container-second"
                    class="output-container"
                    style="">
                <!-- Початкова матриця буде додана тут -->
            </div>
        </div>
        <!-- Контейнер початкової матриці В-->
        <div class="container mt-4" style="display: none">
            <h4 id="toggleVisible3" style="" class="text-center mb-4">
                Матриця S
            </h4>
            <div id="matrix-container-S" class="output-container" style="">
                <!-- Початкова матриця буде додана тут -->
            </div>
            <div
                    id="button-container"
                    class="mt-4 output-container"
                    style="">
                <!-- Початкова матриця буде додана тут -->
            </div>
        </div>
        <!-- Контейнер полінома А-->
        <div class="container mt-4" style="display: none">
            <div class="row">
                <div class="col-md-6">
                    <h4 id="toggleVisible4" style="" class="text-center mb-4">
                        Поліном A
                    </h4>
                    <div
                            id="poly-container-first"
                            class="container border p-4 bg-light output-container"
                            style="">
                        <!-- Поліном буде додано тут -->
                    </div>
                </div>
                <div class="col-md-6" style="">
                    <h4 id="toggleVisible5" style="" class="text-center mb-4">
                        Поліном B
                    </h4>
                    <div
                            id="poly-container-second"
                            class="container border p-4 bg-light output-container"
                            style="">
                        <!-- Поліном буде додано тут -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Контейнер полінома В-->
        <div class="container mt-4" style="display: none">
            <div class="row">
                <div class="col-md-4">
                    <h4 id="toggleVisible6" style="" class="text-center mb-4">
                        Періоди А та B
                    </h4>
                    <div
                            id="property-container"
                            class="container border p-4 bg-light output-container"
                            style="display: none">
                        <!-- Властивості будуть додані тут -->
                    </div>
                </div>
                <div class="col-md-4" style="">
                    <h4 id="toggleVisible7" style="" class="text-center mb-4">
                        Вага Хемінгу
                    </h4>
                    <div
                            id="hg-container"
                            class="container border p-4 bg-light output-container"
                            style="display: none">
                        <!-- Поліном буде додано тут -->
                    </div>
                </div>
                <div class="col-md-4" style="">
                    <h4 id="toggleVisible8" style="" class="text-center mb-4">
                        Період послідовності
                    </h4>
                    <div
                            id="T-container"
                            class="container border p-4 bg-light output-container"
                            style="display: none">
                        <!-- Поліном буде додано тут -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Контейнер послідовностей-->
        <div class="container mt-4" style="display: none">
            <div class="row">
                <div class="col-md-6">
                    <h4 id="toggleVisible9" style="" class="text-center mb-4">
                        Послідовність чисел
                    </h4>
                    <div
                            id="sequence-container"
                            class="container border p-4 bg-light scroll-x output-container"
                            style="">
                        <!-- Послідовність чисел буде додана тут -->
                    </div>
                </div>
                <div class="col-md-6" style="">
                    <h4 id="toggleVisible10" style="" class="text-center mb-4">
                        Послідовність бінарних чисел
                    </h4>
                    <div
                            id="binary-sequence-container"
                            class="container border p-4 bg-light scroll-x output-container"
                            style="">
                        <!-- Послідовність бінарних чисел буде додана тут -->
                    </div>
                </div>
                <h4 class="text-center mb-4"> Послідовність створена нейромережею </h4>
                <div class=" container border p-4 bg-light scroll-x" id="PRNGM">
                    <!-- Псевдовипадкова послідовність буде додана тут -->
                </div>
            </div>
        </div>
        <!-- Контейнер ACF-->
        <div class="container mt-4 scroll-x" style="display: none">
            <div class="containerBody">
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/msr.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        const numberSelectFirst = document.getElementById("numberSelectFirst");
        const numberSelectSecond = document.getElementById("numberSelectSecond");
        const iSelect = document.getElementById("iSelect");
        const jSelect = document.getElementById("jSelect");

        handleDegreeChange('elementSelectFirst', 'numberSelectFirst');
        handleDegreeChange('elementSelectSecond', 'numberSelectSecond');
        {#iventSelectSecond()#}
        updateSelector(iSelect, numberSelectFirst.value);
        updateSelector(jSelect, numberSelectSecond.value);
        updateR(numberSelectFirst.value, numberSelectSecond.value);


        numberSelectFirst.addEventListener("change", () => {
            handleDegreeChange('elementSelectFirst', 'numberSelectFirst');
            {#iventSelectSecond()#}
            updateSelector(iSelect, numberSelectFirst.value);
            updateSelector(jSelect, numberSelectSecond.value);
            updateR(numberSelectFirst.value, numberSelectSecond.value);
        });

        numberSelectSecond.addEventListener("change", () => {
            handleDegreeChange('elementSelectSecond', 'numberSelectSecond');
            updateSelector(iSelect, numberSelectFirst.value);
            updateSelector(jSelect, numberSelectSecond.value);
            updateR(numberSelectFirst.value, numberSelectSecond.value);
        });

        const buildMatrixButton = document.getElementById("buildMatrixButton");
        buildMatrixButton.addEventListener("click", () => handlePolynomialOperations('elementSelectFirst',
            'elementSelectSecond',
            'numberSelectFirst',
            'numberSelectSecond',
            'iSelect',
            'jSelect',
            'rSelect'));
        {#document.addEventListener("DOMContentLoaded", () => visualization());#}

    </script>
{% endblock content %}
