{% extends 'generators/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label for="numberSelect" class="form-label">Оберіть ступінь полінома:</label>
            <select class="form-select" id="numberSelect">
                {% for degree in degrees %}
                    <option value="{{ degree }}">{{ degree }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="elementSelect" class="form-label">Оберіть поліном:</label>
            <select class="form-select" id="elementSelect" disabled>
                <option value="">Оберіть ступінь вище</option>
            </select>
        </div>
    </div>
</div>

<script>
    // Получаем ссылки на выбранные элементы
    const numberSelect = document.getElementById('numberSelect');
    const elementSelect = document.getElementById('elementSelect');

    // Функция для обновления второго списка в зависимости от выбранного числа
    function updateElementList(selectedNumber) {
        // Очищаем второй список
        elementSelect.innerHTML = '';

        // Отправляем AJAX-запрос на сервер для получения списка полиномов
        fetch(`/get_polynomials/?degree=${selectedNumber}`)
            .then(response => response.json())
            .then(data => {
                // Добавляем полученные полиномы в список
                data.forEach(polynomial => {
                    const option = document.createElement('option');
                    option.value = polynomial.id;
                    option.textContent = `${polynomial.first_number} ${polynomial.second_number} ${polynomial.letter}`;
                    elementSelect.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Ошибка при получении списка полиномов:', error);
            });
    }

    // Вызываем функцию обновления списка при изменении выбранного числа
    numberSelect.addEventListener('change', function () {
        const selectedNumber = parseInt(numberSelect.value);
        if (selectedNumber) {
            updateElementList(selectedNumber);
            elementSelect.disabled = false;
        } else {
            elementSelect.disabled = true;
        }
    });
</script>
{% endblock content %}
