{% extends 'generators/base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <label for="numberSelect" class="form-label">Оберіть ступінь полінома:</label>
                <select class="form-select" id="numberSelect">
                    {% for degree in degrees %}
                        <option value="{{ degree }}">{{ degree }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="elementSelect" class="form-label">Оберіть поліном:</label>
                <select class="form-select" id="elementSelect" disabled>
                    <option value="">Оберіть ступінь</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="initialStateSelect" class="form-label">Оберіть числа для початкового стану:</label>
                <select class="form-select" id="initialStateSelect" name="initialStateSelect" disabled>
                    <option value="">Оберіть ступінь</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Кнопка для побудови матриці -->
    <div class="container mt-4">
        <button id="buildMatrixButton" class="btn btn-primary">Побудувати матрицю</button>
    </div>

    <div class="container mt-4">
        <div id="matrix-container" class="container border p-4">
            <!-- Початкова матриця буде додана тут -->
        </div>
    </div>
    <div class="container mt-4">
        <div id="result-container" class="container border p-4">
            <!-- Результати множення будуть додані тут -->
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-center mb-4">Властивості</h4>
                <div id="property-container" class="container border p-4 bg-light">

                    <!-- Властивості будуть додані тут -->
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="text-center mb-4">Поліном</h4>
                <div id="poly-container" class="container border p-4 bg-light">

                    <!-- Поліном буде додано тут -->
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-center mb-4">Послідовність чисел</h4>
                <div id="sequence-container" class="container border p-4 bg-light scroll-x">

                    <!-- Послідовність чисел буде додана тут -->
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="text-center mb-4">Послідовність бінарних чисел</h4>
                <div id="binary-sequence-container" class="container border p-4 bg-light scroll-x">

                    <!-- Послідовність бінарних чисел буде додана тут -->
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/srwf.js' %}"></script>

    <script>
        const buildMatrixButton = document.getElementById('buildMatrixButton');
        buildMatrixButton.addEventListener('click', handlePolynomialOperations);

        const numberSelect = document.getElementById('numberSelect');
        numberSelect.addEventListener('change', handleDegreeChange);

    </script>
{% endblock content %}
