.matrix-table {
    width: 100%;
    border-collapse: collapse;
}

.matrix-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.scroll-x {
    overflow-x: auto;
    white-space: nowrap;
}

#matrix-container, #matrix-container-first,
#matrix-container-second, #result-container,
#matrix-container-S {
    max-height: 200px; /* Максимальна висота контейнера */
    overflow-y: auto; /* Додавання вертикальної прокрутки при необхідності */
}

.matrix-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.matrix-table tr:hover {
    background-color: #ddd;
}

.matrix-table td:first-child {
    width: 30px; /* Змінюємо ширину стовпчика */
    background-color: #f0f0f0; /* Задаємо колір фону */
    color: #333; /* Задаємо колір тексту */
    text-align: center; /* Вирівнюємо текст по центру */
    font-weight: bold; /* Робимо текст жирним */
}

/* Основні стилі */
.container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-header {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #000000;
}

.form-label {
    font-weight: bold;
    color: #333;
}

.form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    color: #495057;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-select:hover,
.form-select:focus {
    border-color: #9743ff;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.25);
}

/* Додаткові стилі для краси */
.row {
    margin-bottom: 20px;
}

.col-md-4 {
    padding: 0 10px;
}

.btn-primary {
    background-color: #9743ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.btn-primary:hover {
    background-color: #4d00ae;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.containerBody {
    height: 300px;
}

.container1 {
    max-width: 100px;
    overflow-x: scroll;
}